// variables

*{
	margin: 0;
	padding: 0;
}

$bg-dark:#3B3434;
$bg-info:#1C67B4;
$bg-success:#2A9425;
$bg-div: rgb(31, 32, 31);
$bg-gray: rgba(97, 96, 96, 0.822) ;

$w-25:25%;
$w-50:50%;
$w-100:100%;

$d-flex:flex;
$d-block:block;

$py-1:1em 0;
$px-1:0 1em;
$p:1em;